* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.player-picture,
main,
.computer-picture {
    height: 815px;
    width: 33.33%;
}
main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.com-choices,
.com-title,
.play-ground,
.player-title, 
.player-choices{
    margin: 10px;
    height: 20%;
}
#rock,
#paper,
#scissors {
    display: flex;
    height: 110px;
    width: 110px;
    margin: 5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: #F0F0F0;
    border: 1px solid white;
    transition: transform 1s;
}
.player-img-RoPaSc {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 2px solid white;
}
#rock:hover ,
#paper:hover ,
#scissors:hover {
    background-color: #17DC00;
}   
.com-rock,
.com-paper,
.com-scissors {
    display: flex;
    height: 110px;
    width: 110px;
    margin: 5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    border: 1px solid white;
    background-color: #F0F0F0;
}
.img-RoPaSc {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 2px solid white;
}
.player-choices,
.com-choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.play-ground {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.computer-score,
.game,
.player-score {
    display: flex;
    border: 2px solid green;
}
.computer-score,
.player-score {
    margin: 20px;
    height: 80px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score {
    display: flex;
    width: 45px;
    height: 15px;
}
.com-title,
.player-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 120px;
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.vs,
.computer-pick,
.player-pick {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.vs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 70px;
    font-family: BlenderProBold;
}
.computer-pick,
.player-pick {
    width: 70px;
    height: 70px;
}
.computer-pick,
.player-pick {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    

}